/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  background: repeating-linear-gradient(#F0F0F0, #F0F0F0 4px, #FFFFFF 4px, #FFFFFF 8px);
  height: 100vh;
  width: 100vw;
  display: grid;
  /* place-content: center center; */
  column-gap: 2rem;
}

button {
  grid-row: 1;
  font-size: 1rem; 
  font-family: "myriad-pro", system-ui;
  height: 1.75em;
  padding: 0 2em;
  min-width: 6em;
  border-radius: 1000px;
  position: relative;
  overflow: hidden;
  cursor: default;
  outline: none;
}

@mixin pseudo-positioning {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 33%;
}

button.primary {
  background: linear-gradient(rgba(0, 65, 184, 0.625), rgba(45, 115, 199, 0.625), rgba(33, 160, 196, 0.625));
  box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.3), 
              0 0.125em 0.125em rgba(0, 78, 187, 0.5), 
              inset 0 0.25em 0.5em rgba(0, 17, 49, 0.8),
              inset 0 0.375em 0.5em 0.25em rgba(0, 78, 187, 0.75)
}

button.primary:focus,
button.primary:active {
  box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.3), 
              0 0.125em 0.125em rgba(0, 78, 187, 0.5), 
              inset 0 0.25em 0.5em rgba(0, 17, 49, 0.8),
              inset 0 0.375em 0.5em 0.25em rgba(0, 78, 187, 0.75),
              0 0 0.5em rgba(52, 106, 227, 0.5);
}

button.secondary {
  background: linear-gradient(rgba(160, 160, 160, 0.625), rgba(255, 255, 255, 0.625));
  box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.2), 
              0 0.125em 0.125em rgba(0, 0, 0, 0.3),  
              inset 0 0.25em 0.25em rgba(0, 0, 0, 0.4),
              inset 0 0.375em 0.5em 0.25em #BBBBBB;
}

button.secondary:focus,
button.secondary:active {
  box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.2), 
              0 0.125em 0.125em rgba(0, 0, 0, 0.3),  
              inset 0 0.25em 0.25em rgba(0, 0, 0, 0.4),
              inset 0 0.375em 0.5em 0.25em #BBBBBB,
              0 0 0.5em rgba(0, 0, 0, 0.25);
}

button:before {
  @include pseudo-positioning;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
  width: calc(100% - 0.875em);
  border-radius: 2em 2em 0.5em 0.5em;
  top: 5%;
  filter: blur(1px);
  z-index: 2;
}

button:after {
  @include pseudo-positioning;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgb(255, 255, 255, 0.5));
  width: calc(100% - 1.25em);
  border-radius: 0.75em;
  bottom: 10%;
  filter: blur(3px);
}

button span {
  position: relative;
  top: -1px;
  z-index: 1;  
  letter-spacing: 0.0375em;
  -webkit-text-stroke-width: 0.025em;
  -webkit-text-stroke-color: #000000;
}

button.primary span {
  text-shadow: 0 0.25em 0.2em rgba(30, 77, 161, 0.5);
}

button.secondary span {
  text-shadow: 0 0.25em 0.2em rgba(0, 0, 0, 0.25);
}

.marginzeroauto {
    margin: 0 auto;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-select: none;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* IE 10+ */
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
/* .grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
} */